<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

   <link rel="stylesheet" href="{% static 'css/bootstrap.min .css'  %}" type="text/css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'star:home' %}"> Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'star:new_post' %}">Добавить данные</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        {% if user.is_authenticated %}
            {% if user.first_name %}Привет {{ user.first_name }}
            {% else %}Hello, {{ user.username }}.
           {% endif %}
            <a href="{% url 'users:logout' %}">  Выйти</a>
{% else %}
            <a href="{% url 'users:register' %}">Зарегистрироваться</a> -
 <a href="{% url 'users:login' %}">log in</a>
{% endif %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% block content %}
    <div class="container mt-3">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-6 ">

     {% for i in posts %}
    <div class="card text-center mb-3">
  <div class="card-header">

    <h3>Общая отметка: {{ i.get_size_display }}</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">{% for g in i.tags.names %}
            <span class="badge badge-pill badge-success">{{ g }}</span>
            {% endfor %}</h5>
    <p class="card-text">{{ i.description }}</p>
    <a href="#" class="btn-sm btn-success">Коментировать</a>
  </div>
  <div class="card-footer text-muted">
      <div>Автор: {{ i.author }}, дата {{ i.publish}}  </div>


  </div>
</div>

    {% endfor %}

    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>









      {% endblock %}




<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>